@import "../common/varible";
@import "../common/function";

.yu-button {
  height: $height;
  font-family: $font-family;
  font-size: $normal;
  padding: 0 $space;
  margin: 0 $space-small $space 0;
  display: inline-block;
  color: $text;
  box-sizing: border-box;
  border-radius: $radius;
  background-color: #fff;
  border: 1px solid $border;
  cursor: pointer;
  transition: border $transition-time, color $transition-time;
  outline: none;
  line-height: $height;
  &:not(.disabled):hover {
    border: 1px solid $primary;
    color: $primary;
    z-index: 1;
  }
  &:not(.disabled):focus {
    color: $primary;
  }
  &.disabled {
    color: $text-lighter;
    background: $background;
    cursor: not-allowed;
  }
  @include generalAllColorButton();
  &.circle {
    padding: 0;
    width: $height;
    height: $height;
    border-radius: 50%;
  }
  &.plain {
    &:hover:not(.disabled), &:focus:not(.disabled) {
      border: 1px solid $primary;
      color: $primary;
      background: #fff;
    }
    @include generalAllColorPlainButton();
  }
  &.large {
    padding: 0 $space-large;;
    font-size: $large;
    height: $height-large;
    line-height: $height-large;
    &.circle {
      padding: 0;
      width: $height-large;
      height: $height-large;
    }
  }
  &.small {
    height: $height-small;
    line-height: $height-small;
    &.circle {
      padding: 0;
      width: $height-small;
      height: $height-small;
    }
  }
}

.yu-button-group {
  font-size: 0;
  & > .yu-button {
    margin-right: -1px;
    float: left;
    position: relative;
    border-radius: 0;
  }
  & > .yu-button:first-child {
    border-radius: $radius 0 0 $radius;
  }
  & > .yu-button:last-child {
    border-radius: 0 $radius $radius 0;
  }
  display: inline-block;
  margin-right: $space-small;
}
