@import "../common/varible";
@import "../common/function";
@import "option";

.yu-cascader-option {
  border-radius: $radius;
  box-shadow: $box-shadow;
  border: 1px solid $border;
  display: inline-block;
  font-size: 0;

  & > .yu-option {
    @include overflow();
    height: $cascader-option-height;
    vertical-align: top;
    display: inline-block;
    max-height: $cascader-option-height;
    border: none;
    border-right: 1px solid $border;
    border-radius: 0;
    box-shadow: none;
    &:first-child {
      border-radius: $radius 0 0 $radius;
    }
    &:last-child {
      border-radius: 0 $radius $radius 0;
    }
    // 级联本身就是默认多选的，所以默认有图标，如果是最后一项，则没图标
    & > li:not(.last) {
      &:after{
        @include contentIcon();
        content: $icon-angle-right;
        float: right;
        color: $text-lighter;
      }
    }
  }
}

