@import "../common/varible";
@import "../common/animation";
@import "cascader-option";

.yu-cascader {
  @include zoomInTop();
  position: relative;
  @include angleAnimation();
  // 用于和button或input组合
  &.prepend {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    & > .yu-input {
      margin: 0;
      & > input {
        border-radius: $radius 0 0 $radius;
      }
    }
  }
  &.append {
    display: inline-block;
    vertical-align: top;
    & > .yu-input {
      margin: 0;
      & > input {
        border-radius: 0 $radius $radius 0;
      }
    }
  }
}

