@import "../common/varible";
@import "../common/function";

.yu-loading {
  @include generalAllColorLoading();
  font-size: $small;
  color: $text;
  margin-right: $space-small;
  text-align: center;
  &.inline {
    display: inline-block;
    &>p {
      display: inline-block;
      font-size: $normal;
    }
  }
  &.large {
    height: $large * 2;
    font-size: $large;
    i {
      font-size: $large + 6;
    }
  }
  &.big {
    height: $big * 2;
    font-size: $big;
    i {
      font-size: $big + 6;
    }
  }
  // loading动画
  i.loading {
    display: inline-block;
    animation: loading 2s linear infinite;
    @keyframes loading {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
  i.icon-circle-loading.loading {
    animation: loading 1s linear infinite;
  }
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.center {
    text-align: center;
  }
}
