@import "../common/varible";
@import "../common/function";

.yu-option {
  font-family: $font-family;
  background-color: #fff;
  width: $input-length;
  border: 1px solid $border;
  border-radius: $radius;
  color: $text;
  box-shadow: $box-shadow;
  @include reset-ul();
  &.overflow {
    @include overflow();
  }
  & > li {
    box-sizing: border-box;
    min-height: $height;
    font-size: $normal;
    padding: $space-tiny $space-small;

    &:hover:not(.disabled) {
      background-color: $background;
    }
    &.active {
      background-color: $background;
      font-weight: bold;
      color: $primary;
    }
    &.hide {
      display: none;
    }
    &.disabled {
      color: $text-lighter;
      cursor: not-allowed;
    }
  }
}

