@import "../common/varible";

.yu-option {
  background-color: #fff;

  width: $default-input-width;
  border: 1px solid $border;
  border-radius: $radius;
  color: $text;
  box-shadow: $box-shadow;
  padding-inline-start: 0;
  &.overflow {
    overflow: auto;
    max-height: 140px;
    &::-webkit-scrollbar {
      width: 4px
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: $border;
    }
  }
  & > li {
    list-style: none;
  }
  & > .option {
    box-sizing: border-box;
    min-height: $normal-height;
    font-size: $normal;
    padding: $tiny-space $small-space;

    &:hover:not(.disabled) {
      background-color: $background;
    }
    &.active {
      background-color: $background;
      font-weight: bold;
      color: $primary;
    }
    &.hide {
      display: none;
    }
    &.disabled {
      color: $lighter-text;
      cursor: not-allowed;
    }
  }
}

