@import "../common/varible";

.yu-steps-item {
  position: relative;
  font-size: 0;
  color: $text-light;
  display: inline-block;
  & > .line {
    position: absolute;
    top: $steps-circle-length / 2;
    width: 100%;
    & > i {
      background: $background;
      display: block;
      height: 1px;
      border-radius: 1px;
      &::after {
        position: absolute;
        content: "";
        height: 1px;
        border-radius: 1px;
        top: 0;
        width: 100%;
        background: $primary;
        display: block;
      }
    }
    z-index: -1;
  }
  & > .head {
    background: #fff;
    display: inline-block;
    font-size: $normal;
    & > .inner {
      box-sizing: content-box;
      display: inline-block;
      height: $steps-circle-length;
      width: $steps-circle-length;
      border-radius: $steps-circle-length;
      border: 1px solid $border;
      line-height: $steps-circle-length;
      text-align: center;
      color: $text-light;
    }
  }
  & > .main {
    padding: 0 $space;
    font-size: $normal;
    background: #fff;
    display: inline-block;
    line-height: $steps-circle-length;
    vertical-align: top;
    & > .description {
      font-size: $small;
    }
  }

  &.active {
    & > .head {
      & > .inner {
        background-color: $primary;
        color: #fff;
        border-color: $primary;
      }
    }

    & > .main {
      color: $text-dark;
    }
  }

  &.finished {
    & > .head {
      & > .inner {
        border-color: $primary;
        color: $primary;
      }
    }
  }

  &.small {
    & > .line {
      top: $steps-small-circle-length / 2;
    }
    & > .head {
      & > .inner {
        height: $steps-small-circle-length;
        width: $steps-small-circle-length;
        border-radius: $steps-small-circle-length;
        line-height: $steps-small-circle-length;
        font-size: $small;
        i {
          font-size: $small;
        }
      }
    }
    & > .main {
      padding: 0 $space;
      font-size: $small;
      background: #fff;
      display: inline-block;
      line-height: $steps-small-circle-length;
      vertical-align: top;
      & > .description {
        font-size: $tiny;
      }
    }
  }
}

.yu-steps {
  &.vertical {
    & > .yu-steps-item {
      display: block;
      height: 60px;
      & > .head {
        padding-bottom: $space-tiny;
        &:nth-child(n+2) {
          padding-left: 0;
        }
      }

      & > .line {
        top: $steps-circle-length;
        left: $steps-circle-length / 2;
        height: 30px;
        & > i {
          width: 1px;
          &::after {
            width: 1px;
            height: 100%;
          }
        }
      }
    }
  }

  & > .yu-steps-item {
    &:nth-child(n+2) > .head {
      padding-left: $space;
    }
    &:last-child {
      & > .line {
        display: none;
      }
    }
  }
}
