.fade-enter, .fade-leave-active, .fade-linear-enter, .fade-linear-leave, .fade-linear-leave-active, .fade-linear-enter, .fade-linear-leave, .fade-linear-leave-active {
  opacity: 0; }

.fade-enter-active, .fade-leave-active {
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1); }

.yu-tag {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  margin: 0 8px 14px 0;
  padding: 0 8px;
  background-color: #f3f9ff;
  border: 1px solid #a6d2ff;
  display: inline-block;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  color: #409EFF;
  border-radius: 4px;
  white-space: nowrap; }
  .yu-tag i.icon-close {
    font-size: 14px;
    margin-left: 4px;
    cursor: pointer;
    color: #73b8ff; }
    .yu-tag i.icon-close:hover {
      color: #409EFF; }
  .yu-tag.primary {
    background-color: #f3f9ff;
    color: #409EFF;
    border: 1px solid #409EFF; }
    .yu-tag.primary i.icon-close {
      color: #73b8ff; }
      .yu-tag.primary i.icon-close:hover {
        color: #409EFF; }
  .yu-tag.success {
    background-color: #eef8e9;
    color: #67C23A;
    border: 1px solid #67C23A; }
    .yu-tag.success i.icon-close {
      color: #85cf60; }
      .yu-tag.success i.icon-close:hover {
        color: #67C23A; }
  .yu-tag.warning {
    background-color: #fffbeb;
    color: #fecf20;
    border: 1px solid #fecf20; }
    .yu-tag.warning i.icon-close {
      color: #feda53; }
      .yu-tag.warning i.icon-close:hover {
        color: #fecf20; }
  .yu-tag.info {
    background-color: #f2f3f3;
    color: #909399;
    border: 1px solid #909399; }
    .yu-tag.info i.icon-close {
      color: #abadb1; }
      .yu-tag.info i.icon-close:hover {
        color: #909399; }
  .yu-tag.danger {
    background-color: #feeded;
    color: #F56C6C;
    border: 1px solid #F56C6C; }
    .yu-tag.danger i.icon-close {
      color: #f89c9c; }
      .yu-tag.danger i.icon-close:hover {
        color: #F56C6C; }
  .yu-tag.error {
    background-color: #feeded;
    color: #F56C6C;
    border: 1px solid #F56C6C; }
    .yu-tag.error i.icon-close {
      color: #f89c9c; }
      .yu-tag.error i.icon-close:hover {
        color: #F56C6C; }
  .yu-tag.small {
    height: 24px;
    font-size: 12px;
    line-height: 24px; }
    .yu-tag.small i.icon-close {
      font-size: 12px; }
  .yu-tag.large {
    height: 40px;
    font-size: 16px;
    line-height: 40px; }
    .yu-tag.large i.icon-close {
      font-size: 16px; }
  .yu-tag.border-none {
    border: none; }
