
// 仅测试使用
@import "common/varible";
@import "index";

body{
  font-family: $font-family;
  color: $text;
  font-size: $normal;
}

.web-index{
  margin: 20px;
  padding-inline-start: 0;
  padding: 0;
  li{
    list-style: none;
    a{
      display: block;
      width: 100%;
      height: 100%;
      color: $text;
      text-decoration: none;
    }
    display: block;
    height: 30px;
    width: 200px;
    padding: 0 $space;
    line-height: 30px;
    border-right: 2px solid #fff;
    &:hover{
      background-color: $background;
      border-right: 2px solid $primary;
      a{
        color: $primary;
      }
    }
  }
}

.web-container{
  margin: 30px;
  font-size: 0;
  .web-title{
    font-size: $normal;
    border-left: 2px solid $primary;
    padding-left: $space;
  }
  .web-description {
    font-size: 14px;
    margin-bottom: 14px;
    color: #666666;
  }
  .web-dark-background{
    background-color: $text;
    padding: $space;
  }
}

.web-main-title{
  width: 200px;
  margin-left: 20px + $space;
  padding: $space 0;
  border-bottom: 1px solid $border;
}

hr{
  margin: 20px 0;
  border: .5px solid $border;
}
