<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="/css/component/alert.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">警告</h4>
    <div class="yu-alert">信息提示的文本</div>

    <h4 class="web-title">不同颜色</h4>
    <div class="yu-alert primary">信息提示的文本</div>
    <div class="yu-alert success">信息提示的文本</div>
    <div class="yu-alert danger">信息提示的文本</div>
    <div class="yu-alert warning">信息提示的文本</div>
    <div class="yu-alert info">信息提示的文本</div>

    <h4 class="web-title">带icon</h4>
    <div class="yu-alert primary"><i class="iconfont icon-check-circle"></i>信息提示的文本</div>
    <div class="yu-alert success"><i class="iconfont icon-close-circle"></i>信息提示的文本</div>

    <h4 class="web-title">文本居中</h4>
    <div class="yu-alert center">信息提示的文本</div>


    <h4 class="web-title">辅助性文字</h4>
    <div class="yu-alert">
        <p class="title">标题</p>
        <p class="description">描述内容</p>
    </div>

    <h4 class="web-title">关闭按钮</h4>
    <div class="yu-alert">
        信息提示的文本
        <i class="iconfont icon-close"></i>
    </div>
</div>
</body>
</html>
