<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="/css/component/button.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">按钮类型2</h4>
    <button class="yu-button">button</button>
    <div class="yu-button">div</div>
    <input type="button" class="yu-button" value="input"/>

    <h4 class="web-title">按钮颜色</h4>
    <button class="yu-button primary">primary</button>
    <button class="yu-button success">success</button>
    <button class="yu-button warning">warning</button>
    <button class="yu-button danger">danger</button>
    <button class="yu-button info">info</button>


    <h4 class="web-title">扁平按钮</h4>
    <button class="yu-button plain">default</button>
    <button class="yu-button plain primary">primary</button>
    <button class="yu-button plain success">success</button>
    <button class="yu-button plain warning">warning</button>
    <button class="yu-button plain danger">danger</button>
    <button class="yu-button plain info">info</button>

    <h4 class="web-title">禁用按钮</h4>
    <button class="yu-button disabled">default</button>
    <button class="yu-button disabled primary">primary</button>
    <button class="yu-button disabled success">success</button>
    <button class="yu-button disabled warning">warning</button>
    <button class="yu-button disabled danger">danger</button>
    <button class="yu-button disabled info">info</button>
    <br>
    <button class="yu-button disabled plain">default</button>
    <button class="yu-button disabled primary plain">primary</button>
    <button class="yu-button disabled success plain">success</button>
    <button class="yu-button disabled warning plain">warning</button>
    <button class="yu-button disabled danger plain">danger</button>
    <button class="yu-button disabled info plain">info</button>

    <h4 class="web-title">不同尺寸</h4>
    <button class="yu-button large">large</button>
    <button class="yu-button">default</button>
    <button class="yu-button small">small</button>

    <div class="yu-button large">large</div>
    <div class="yu-button">default</div>
    <div class="yu-button small">small</div>

    <h4 class="web-title">圆形按钮</h4>
    <button class="yu-button circle">圆</button>

    <h4 class="web-title">按钮组</h4>
    <div class="yu-button-group">
        <button class="yu-button">item</button>
        <button class="yu-button">item</button>
        <button class="yu-button">item</button>
    </div>
    <div class="yu-button-group">
        <button class="yu-button primary">item</button>
        <button class="yu-button primary">item</button>
        <button class="yu-button primary">item</button>
    </div>
    <div class="yu-button-group">
        <button class="yu-button primary plain">item</button>
        <button class="yu-button primary plain">item</button>
        <button class="yu-button primary plain">item</button>
    </div>
    <div class="yu-button-group">
        <button class="yu-button">item</button>
        <button class="yu-button primary">item</button>
        <button class="yu-button primary plain">item</button>
    </div>

    <h4 class="web-title">图标</h4>
    <button class="yu-button"><i class="iconfont icon-trash"></i> Delete</button>
    <button class="yu-button"><i class="iconfont icon-location"></i> Location</button>

    <h4 class="web-title">深色背景效果</h4>
    <div class="web-dark-background">
        <button class="yu-button">primary</button>
        <button class="yu-button primary">primary</button>
        <button class="yu-button primary plain">primary</button>
    </div>

    <h4 class="web-title">测试代码</h4>
    <button id="button" yu-id="button" class="yu-button">primary</button>
    <div id="alert" class="yu-alert danger">primary</div>

    <input type="text" id="buttonInput">
</div>
</body>

<script type="text/javascript">
    // yuButton = new Yu.Button('button')
    // 选择器只有id和class，均只取第一个元素。
    var yuAlert = {
        node: document.getElementById('alert'),
        text: function (value) {
            this.node.innerText = value;
        },
        setState: function (stateName, value) {
            this[stateName].call(this, value);
        },
    }
    var yuButton = {
        node: document.getElementById('button'),
        type: function (value) {
            this.node.className = 'yu-button ' + value
        },
        text: function (value) {
            this.node.innerText = value;
        },
        setState: function (stateName, value) {
            this[stateName].call(this, value);
        },
    }

    var props = {
        content: function (value) {
            yuAlert.setState('text', value);
            yuButton.setState('text', value);
        },
        setProp: function (stateName, value) {
            this[stateName].call(this, value);
        },
    }


    // var yuButton = {
    //     constructor: function() {
    //         console.log(1);
    //     },
    //     node: document.getElementById('button'),
    //     type: {
    //         prev: '',
    //         update: function (value) {
    //             this.node.className = 'yu-button ' + value
    //         }
    //     },
    //     setState: function (stateName, value) {
    //         this[stateName].update.call(this, value);
    //     },
    // }


    document.getElementById('buttonInput').addEventListener('blur', function (e) {
        yuButton.setState('type', e.target.value)
        props.setProp('content', e.target.value)
    })

</script>
</html>
