<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="/css/component/card.css">
    <link rel="stylesheet" href="/css/component/placeholder.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">普通使用</h4>
    <div class="yu-card">
        <div class="header">
            商业表格
            <div class="description">操作</div>
        </div>
        <div class="content">
            <div class="yu-placeholder">
                <div class="image"></div>
                <ul>
                    <li class="normal"></li>
                    <li class="short"></li>
                </ul>
            </div>
            <div class="yu-placeholder">
                <ul>
                    <li class="normal"></li>
                    <li class="short"></li>
                    <li class="long"></li>
                </ul>
            </div>
        </div>
        <div class="footer">
            2019-03-02 23:11:00
        </div>
    </div>

    <h4 class="web-title">图片卡片</h4>
    <div class="yu-card card">
        <img class="image" src="../image/tom.png" alt="">
        <div class="content">
            <div class="header">
                商业表格
                <span class="float right">操作</span>
                <div class="description">描述文件</div>
            </div>

            <div class="yu-placeholder">
                <ul>
                    <li class="normal"></li>
                    <li class="short"></li>
                    <li class="long"></li>
                </ul>
            </div>
        </div>
        <div class="footer">
            2019-03-02 23:11:00
        </div>
    </div>
    <div class="yu-card card hoverable">
        <img class="image" src="../image/tom.png" alt="">
        <div class="content">
            <div class="header">
                商业表格
                <span class="float right">操作</span>
                <div class="description">描述文件</div>
            </div>

            <div class="yu-placeholder">
                <ul>
                    <li class="normal"></li>
                    <li class="short"></li>
                    <li class="long"></li>
                </ul>
            </div>
        </div>
        <div class="footer">
            2019-03-02 23:11:00
        </div>
    </div>
</div>
</body>
</html>
