<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../../css/component/cascader-option.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">级联选项</h4>
    <div class="yu-cascader-option">
        <ul class="yu-option">
            <li>猫 </li>
            <li class="active">猫</li>
            <li class="disabled">猫</li>
            <li class="last">猫</li>
            <li>猫</li>
            <li>猫</li>
            <li>猫</li>
        </ul>
        <ul class="yu-option">
            <li class="last">猫</li>
            <li class="active last">猫</li>
            <li class="last">猫</li>
            <li class="last">猫</li>
            <li class="last">猫</li>
            <li class="last">猫</li>
            <li class="last">猫</li>
        </ul>
    </div>

    <h4 class="web-title">级联选项(溢出)</h4>
    <div class="yu-cascader-option">
        <ul class="yu-option">
            <li>猫</li>
            <li class="active">猫</li>
            <li>猫</li>
            <li>猫</li>
            <li>猫</li>
            <li>猫</li>
        </ul>
        <ul class="yu-option">
            <li>猫</li>
            <li class="active">猫</li>
            <li>猫</li>
            <li>猫</li>
            <li>猫</li>
            <li>猫</li>
            <li>猫</li>
            <li>猫</li>
            <li>猫</li>
            <li>猫</li>
        </ul>
        <ul class="yu-option">
            <li class="last">猫</li>
            <li class="active last">猫</li>
            <li class="last">猫</li>
            <li class="last">猫</li>
            <li class="last">猫</li>
            <li class="last">猫</li>
        </ul>
    </div>
</div>
</body>
</html>
