<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../../css/component/collapse.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">简单用法</h4>
    <div class="yu-collapse">
        <div class="yu-collapse-item">
            <div class="wrap">
                <div class="header">
                    <span>床前明月光</span>
                </div>
                <div class="content">
                    内容内容内容内容内容
                    内容内容内容内容内容
                    内容内容内容内容内容
                    内容内容内容内容内容
                </div>
            </div>
        </div>
        <div class="yu-collapse-item">
            <div class="wrap">
                <div class="header">
                    <span>疑是地上霜</span>
                </div>
                <div class="content">
                    内容
                </div>
            </div>
        </div>
        <div class="yu-collapse-item">
            <div class="wrap">
                <div class="header">
                    <span>举头望明月</span>
                </div>
                <div class="content">
                    内容
                </div>
            </div>
        </div>
    </div>

    <h4 class="web-title">隐藏图标</h4>
    <div class="yu-collapse">
        <div class="yu-collapse-item">
            <div class="wrap">
                <div class="header hide-icon">
                    <span>床前明月光</span>
                </div>
                <div class="content">
                    内容内容内容内容内容
                    内容内容内容内容内容
                    内容内容内容内容内容
                    内容内容内容内容内容
                </div>
            </div>
        </div>
        <div class="yu-collapse-item">
            <div class="wrap">
                <div class="header hide-icon">
                    <span>疑是地上霜</span>
                </div>
                <div class="content">
                    内容
                </div>
            </div>
        </div>
        <div class="yu-collapse-item">
            <div class="wrap">
                <div class="header hide-icon">
                    <span>举头望明月</span>
                </div>
                <div class="content">
                    内容
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript">
    var on = false
    document.querySelector('.yu-collapse-item').addEventListener('click', function (e) {
        e.currentTarget.querySelector('.content').style.height = on ? '0' : '50px';
        e.currentTarget.querySelector('.content').parentNode.classList.toggle('active', !on);
        on = !on;
    })
</script>
</html>
