<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="/css/component/date-picker-option.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">年份选择器</h4>
    <div class="yu-date-picker-option">
        <div class="head">
            <a class="left"><i class="iconfont icon-angle-double-left"></i></a>
            <div>
                <span>2018年~2030年</span>
            </div>
            <a class="right"><i class="iconfont icon-angle-double-right"></i></a>
        </div>
        <table class="date year">
            <tbody>
            <tr>
                <td>
                    <div>2018</div>
                </td>
                <td class="active">
                    <div>2019</div>
                </td>
                <td class="disabled">
                    <div>2020</div>
                </td>
                <td>
                    <div>2021</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>2022</div>
                </td>
                <td>
                    <div>2023</div>
                </td>
                <td>
                    <div>2024</div>
                </td>
                <td>
                    <div>2025</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>2026</div>
                </td>
                <td>
                    <div>2027</div>
                </td>
                <td>
                    <div>2028</div>
                </td>
                <td>
                    <div>2029</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h4 class="web-title">月份选择器</h4>
    <div class="yu-date-picker-option">
        <div class="head">
            <a class="left"><i class="iconfont icon-angle-double-left"></i></a>
            <div>
                <span>2018年</span>
            </div>
            <a class="right"><i class="iconfont icon-angle-double-right"></i></a>
        </div>
        <table class="date month">
            <tbody>
            <tr>
                <td>
                    <div>一月</div>
                </td>
                <td class="active">
                    <div>二月</div>
                </td>
                <td class="disabled">
                    <div>三月</div>
                </td>
                <td>
                    <div>四月</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>五月</div>
                </td>
                <td>
                    <div>六月</div>
                </td>
                <td>
                    <div>七月</div>
                </td>
                <td>
                    <div>八月</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>九月</div>
                </td>
                <td>
                    <div>十月</div>
                </td>
                <td>
                    <div>十一月</div>
                </td>
                <td>
                    <div>十二月</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h4 class="web-title">日期选择器</h4>
    <div class="yu-date-picker-option">
        <div class="head">
            <a class="left"><i class="iconfont icon-angle-double-left"></i></a>
            <a class="left"><i class="iconfont icon-angle-left"></i></a>
            <div>
                <span>2018年</span>
                <span>12月</span>
            </div>
            <a class="right"><i class="iconfont icon-angle-double-right"></i></a>
            <a class="right"><i class="iconfont icon-angle-right"></i></a>
        </div>
        <table class="date">
            <thead>
            <tr>
                <th>日</th>
                <th>一</th>
                <th>二</th>
                <th>三</th>
                <th>四</th>
                <th>五</th>
                <th>六</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div>1</div>
                </td>
                <td class="active">
                    <div>2</div>
                </td>
                <td class="disabled">
                    <div>3</div>
                </td>
                <td>
                    <div>4</div>
                </td>
                <td class="current-day">
                    <div>5</div>
                </td>
                <td class="other-month">
                    <div>6</div>
                </td>
                <td class="other-month">
                    <div>7</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>8</div>
                </td>
                <td>
                    <div>9</div>
                </td>
                <td>
                    <div>10</div>
                </td>
                <td>
                    <div>11</div>
                </td>
                <td>
                    <div>12</div>
                </td>
                <td>
                    <div>13</div>
                </td>
                <td>
                    <div>14</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>15</div>
                </td>
                <td>
                    <div>16</div>
                </td>
                <td>
                    <div>17</div>
                </td>
                <td>
                    <div>18</div>
                </td>
                <td>
                    <div>19</div>
                </td>
                <td>
                    <div>20</div>
                </td>
                <td>
                    <div>21</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>22</div>
                </td>
                <td>
                    <div>23</div>
                </td>
                <td>
                    <div>24</div>
                </td>
                <td>
                    <div>25</div>
                </td>
                <td>
                    <div>26</div>
                </td>
                <td>
                    <div>27</div>
                </td>
                <td>
                    <div>28</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>29</div>
                </td>
                <td>
                    <div>30</div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script type="text/javascript">
</script>
</html>
