<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="/css/component/divider.css">
</head>
<style>
    span{
        color: #409EFF;
    }
</style>
<body>
<div class="web-container">
    <h4 class="web-title">常规</h4>
    <div>
        <img src="../image/paragraph.png" alt="">
        <div class="yu-divider"></div>
        <img src="../image/paragraph.png" alt="">
    </div>

    <h4 class="web-title">水平</h4>
    <div>
        <img src="../image/paragraph.png" alt="">
        <div class="yu-divider horizontal">
            <span>水平</span>
        </div>
        <img src="../image/paragraph.png" alt="">
    </div>

    <h4 class="web-title">左对齐，右对齐</h4>
    <div>
        <img src="../image/paragraph.png" alt="">
        <div class="yu-divider horizontal left">
            <span>左对齐</span>
        </div>
        <img src="../image/paragraph.png" alt="">
    </div>
    <div>
        <img src="../image/paragraph.png" alt="">
        <div class="yu-divider horizontal right">
            <span>右对齐</span>
        </div>
        <img src="../image/paragraph.png" alt="">
    </div>

    <h4 class="web-title">垂直分割线</h4>
    <div>
        <span>编辑</span>
        <div class="yu-divider vertical"></div>
        <span>删除</span>
        <div class="yu-divider vertical"></div>
        <span>重做</span>
    </div>

</div>
</body>
</html>
