<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="/css/component/file-list.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">文件列表</h4>
    <ul class="yu-file-list simple">
        <li>
            <i class="iconfont icon-accessory"></i>
            <span>图片名字.png</span>
            <i class="iconfont icon-close"></i>
        </li>
        <li>
            <i class="iconfont icon-accessory"></i>
            <span>图片名字.png</span>
            <i class="iconfont icon-close"></i>
        </li>
        <li>
            <i class="iconfont icon-accessory"></i>
            <span>图片名字.png</span>
            <i class="iconfont icon-close"></i>
        </li>
    </ul>
    <h4 class="web-title">文件列表（不同颜色状态）</h4>
    <ul class="yu-file-list simple">
        <li class="success">
            <i class="iconfont icon-accessory"></i>
            <span>图片名字.png</span>
            <i class="iconfont icon-close"></i>
        </li>
        <li class="danger">
            <i class="iconfont icon-accessory"></i>
            <span>图片名字.png</span>
            <i class="iconfont icon-close"></i>
        </li>
    </ul>
    <h4 class="web-title">照片墙</h4>
    <ul class="yu-file-list picture">
        <li>
            <div class="wrap">
                <img src="../image/square.png" alt="">
                <div class="mask">
                    <i class="iconfont icon-eye"></i>
                    <i class="iconfont icon-trash"></i>
                </div>
            </div>
        </li>
        <li>
            <div class="wrap">
                <img src="../image/vertical.png" alt="">
                <div class="mask">
                    <i class="iconfont icon-eye"></i>
                    <i class="iconfont icon-trash"></i>
                </div>
            </div>
        </li>
        <li>
            <div class="wrap">
                <img src="../image/horizontal.png" alt="">
                <div class="mask">
                    <i class="iconfont icon-eye"></i>
                    <i class="iconfont icon-trash"></i>
                </div>
            </div>
        </li>
    </ul>
    <h4 class="web-title">照片带名称</h4>
    <ul class="yu-file-list title-picture inline">
        <li>
            <div class="wrap">
                <img src="../image/square.png" alt="">
            </div>
            <span>图片名字.png</span>
            <i class="iconfont icon-close"></i>
        </li>
        <li>
            <div class="wrap">
                <img src="../image/vertical.png" alt="">
            </div>
            <span>图片名字.png</span>
            <i class="iconfont icon-close"></i>
        </li>
        <li>
            <div class="wrap">
                <img src="../image/horizontal.png" alt="">
            </div>
            <span>图片名字图片名字图片名字图片名字.png</span>
            <i class="iconfont icon-close"></i>
        </li>
    </ul>
    <ul class="yu-file-list title-picture block">
        <li>
            <div class="wrap">
                <img src="../image/square.png" alt="">
            </div>
            <span>图片名字.png</span>
            <i class="iconfont icon-close"></i>
        </li>
        <li>
            <div class="wrap">
                <img src="../image/vertical.png" alt="">
            </div>
            <span>图片名字.png</span>
            <i class="iconfont icon-close"></i>
        </li>
        <li>
            <div class="wrap">
                <img src="../image/horizontal.png" alt="">
            </div>
            <span>图片名字图片名字图片名字图片名字图片名字图片名字图片名字图片名字图片名字图片名字图片名字图片名字图片名字图片名字图片名字图片名字图片名字图片名字图片名字图片名字图片名字图片名字.png</span>
            <i class="iconfont icon-close"></i>
        </li>
    </ul>
</div>
</body>
<script type="text/javascript">
</script>
</html>
