<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="/css/component/row.css">
    <link rel="stylesheet" href="/css/component/col.css">
</head>
<body>
<style>
    body, html{
        width: 100%;
    }
    .block{
        text-align: center;
        line-height: 80px;
        width: 100%;
        height: 80px;
        background-color: #67C23A;
        border: 4px solid #409EFF;
    }
    .yu-row{
        margin: 14px 0;
    }
</style>
<div class="web-container">
    <h4 class="web-title">标记</h4>
    <div class="yu-row">
        <div class="yu-col" style="width: 25%">
            <div class="block">1</div>
        </div>
        <div class="yu-col" style="width: 25%">
            <div class="block">2</div>
        </div>
        <div class="yu-col" style="width: 25%">
            <div class="block">3</div>
        </div>
        <div class="yu-col" style="width: 25%">
            <div class="block">4</div>
        </div>
    </div>
    <div class="yu-row">
        <div class="yu-col" style="width: 33.333%">
            <div class="block">1</div>
        </div>
        <div class="yu-col" style="width: 33.333%">
            <div class="block">2</div>
        </div>
        <div class="yu-col" style="width: 33.333%">
            <div class="block">3</div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
</script>
</html>
