<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="/css/component/list.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">常规</h4>
    <div>
        <div class="yu-list">
            <div class="item">苹果</div>
            <div class="item">香蕉</div>
            <div class="item">桃子</div>
        </div>
    </div>

    <h4 class="web-title">图标开头</h4>
    <div>
        <div class="yu-list">
            <div class="item">
                <i class="iconfont icon-home-o"></i>
                <div class="content">
                    苹果
                </div>
            </div>
            <div class="item">
                <i class="iconfont icon-link"></i>
                <div class="content">
                    香蕉
                </div>
            </div>
            <div class="item">
                <i class="iconfont icon-clock"></i>
                <div class="content">
                    桃子
                </div>
            </div>
        </div>
    </div>

    <h4 class="web-title">图片开头</h4>
    <div>
        <div class="yu-list">
            <div class="item">
                <img src="../image/tom.png" alt="">
                <div class="content">
                    <div class="header">苹果</div>
                    <div class="description">We supply a series of design principles</div>
                </div>
            </div>
            <div class="item">
                <img src="../image/tom.png" alt="">
                <div class="content">
                    <div class="header">苹果</div>
                    <div class="description">We supply a series of design principles</div>
                </div>
            </div>
            <div class="item">
                <img src="../image/tom.png" alt="">
                <div class="content">
                    <div class="header">苹果</div>
                    <div class="description">We supply a series of design principles</div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="web-title">有分割线，有标题和描述</h4>
    <div>
        <div class="yu-list divided">
            <div class="item">
                <i class="iconfont icon-home-o"></i>
                <div class="content">
                    <div class="header">苹果</div>
                    <div class="description">We supply a series of design principles</div>
                </div>
            </div>
            <div class="item">
                <i class="iconfont icon-link"></i>
                <div class="content">
                    <div class="header">香蕉</div>
                    <div class="description">We supply a series of design principles</div>
                </div>
            </div>
            <div class="item">
                <i class="iconfont icon-clock"></i>
                <div class="content">
                    <div class="header">桃子</div>
                    <div class="description">We supply a series of design principles</div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="web-title">嵌套列表</h4>
    <div>
        <div class="yu-list">
            <div class="item">
                <i class="iconfont icon-angle-down"></i>
                <div class="content">
                    <div class="header">苹果</div>
                    <div class="description">又大又圆</div>
                    <div class="yu-list">
                        <div class="item">
                            <i class="iconfont icon-angle-down"></i>
                            <div class="content">
                                <div class="header">香蕉</div>
                                <div class="description">We supply a series of design principles</div>
                                <div class="yu-list">
                                    <div class="item">
                                        <i class="iconfont icon-angle-down"></i>
                                        <div class="content">
                                            <div class="header">香蕉</div>
                                            <div class="description">We supply a series of design principles</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="iconfont icon-angle-down"></i>
                                        <div class="content">
                                            <div class="header">桃子</div>
                                            <div class="description">We supply a series of design principles</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="iconfont icon-angle-down"></i>
                            <div class="content">
                                <div class="header">桃子</div>
                                <div class="description">We supply a series of design principles</div>
                                <div class="yu-list">
                                    <div class="item">
                                        <i class="iconfont icon-angle-down"></i>
                                        <div class="content">
                                            <div class="header">香蕉</div>
                                            <div class="description">We supply a series of design principles</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <i class="iconfont icon-angle-down"></i>
                                        <div class="content">
                                            <div class="header">桃子</div>
                                            <div class="description">We supply a series of design principles</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <i class="iconfont icon-angle-right"></i>
                <div class="content">
                    <div class="header">香蕉</div>
                    <div class="description">We supply a series of design principles</div>
                </div>
            </div>
            <div class="item">
                <i class="iconfont icon-angle-right"></i>
                <div class="content">
                    <div class="header">桃子</div>
                    <div class="description">We supply a series of design principles</div>
                </div>
            </div>
        </div>
    </div>


    <h4 class="web-title">水平列表</h4>
    <div>
        <div class="yu-list horizontal">
            <div class="item">
                <img src="../image/tom.png" alt="">
                <div class="content">
                    <div class="header">苹果</div>
                    <div class="description">We supply a series of design principles</div>
                </div>
            </div>
            <div class="item">
                <img src="../image/tom.png" alt="">
                <div class="content">
                    <div class="header">苹果</div>
                    <div class="description">We supply a series of design principles</div>
                </div>
            </div>
            <div class="item">
                <img src="../image/tom.png" alt="">
                <div class="content">
                    <div class="header">苹果</div>
                    <div class="description">We supply a series of design principles</div>
                </div>
            </div>
        </div>
        <div class="yu-list horizontal">
            <div class="item">
                <img src="../image/tom.png" alt="">
                <div class="content">
                    苹果
                </div>
            </div>
            <div class="item">
                <img src="../image/tom.png" alt="">
                <div class="content">
                    苹果
                </div>
            </div>
            <div class="item">
                <img src="../image/tom.png" alt="">
                <div class="content">
                    苹果
                </div>
            </div>
        </div>
    </div>

    <h4 class="web-title">有分割线，有标题和描述</h4>
    <div>
        <div class="yu-list divided">
            <div class="item">
                <i class="iconfont icon-home-o"></i>
                <div class="content">
                    <div class="header">苹果</div>
                    <div class="description">We supply a series of design principles</div>
                </div>
            </div>
            <div class="item">
                <i class="iconfont icon-link"></i>
                <div class="content">
                    <div class="header">香蕉</div>
                    <div class="description">We supply a series of design principles</div>
                </div>
            </div>
            <div class="item">
                <i class="iconfont icon-clock"></i>
                <div class="content">
                    <div class="header">桃子</div>
                    <div class="description">We supply a series of design principles</div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
