<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="/css/component/loading.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">加载</h4>
    <div class="yu-loading">
        <i class="iconfont icon-loading loading"></i>
    </div>
    <div class="yu-loading">
        <i class="iconfont icon-circle-loading loading"></i>
    </div>


    <h4 class="web-title">不同颜色</h4>
    <div class="yu-loading success">
        <i class="iconfont icon-loading loading"></i>
    </div>
    <div class="yu-loading primary">
        <i class="iconfont icon-circle-loading loading"></i>
    </div>
    <div class="yu-loading success">
        <i class="iconfont icon-loading loading"></i>
        <p>正在加载</p>
    </div>
    <div class="yu-loading primary">
        <i class="iconfont icon-circle-loading loading"></i>
        <p>正在加载</p>
    </div>

    <h4 class="web-title">加载文字</h4>
    <div class="yu-loading">
        <i class="iconfont icon-loading loading"></i>
        <p>正在加载</p>
    </div>
    <div class="yu-loading">
        <i class="iconfont icon-circle-loading loading"></i>
        <p>正在加载</p>
    </div>

    <h4 class="web-title">加载大小</h4>
    <div class="yu-loading">
        <i class="iconfont icon-loading loading"></i>
        <p>正在加载</p>
    </div>
    <div class="yu-loading large">
        <i class="iconfont icon-loading loading"></i>
        <p>正在加载</p>
    </div>
    <div class="yu-loading big">
        <i class="iconfont icon-loading loading"></i>
        <p>正在加载</p>
    </div>

    <h4 class="web-title">同行</h4>
    <div class="yu-loading inline">
        <i class="iconfont icon-loading loading"></i>
        <p>正在加载</p>
    </div>
    <div class="yu-loading inline">
        <i class="iconfont icon-loading loading"></i>
        <p>正在加载</p>
    </div>
    <div class="yu-loading inline">
        <i class="iconfont icon-loading loading"></i>
        <p>正在加载</p>
    </div>

    <h4 class="web-title">左中右对齐</h4>
    <div class="yu-loading left">
        <i class="iconfont icon-loading loading"></i>
        <p>正在加载</p>
    </div>
    <div class="yu-loading center">
        <i class="iconfont icon-loading loading"></i>
        <p>正在加载</p>
    </div>
    <div class="yu-loading right">
        <i class="iconfont icon-loading loading"></i>
        <p>正在加载</p>
    </div>
</div>
</body>
</html>
