<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="/css/component/notification.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">通知</h4>
    <div class="yu-button">点击</div>
    <div class="yu-notification top-right">
        <div class="notice">
            <i class="iconfont icon-close"></i>
            <div class="content">
                <div class="message">
                    标题1
                </div>
                <div class="description">
                    内容1
                </div>
            </div>
        </div>
        <div class="notice">
            <i class="iconfont icon-close"></i>
            <div class="content">
                <div class="message">
                    标题2
                </div>
                <div class="description">
                    内容2
                </div>
            </div>
        </div>
    </div>

    <h4 class="web-title">带图标</h4>
    <div class="yu-button">点击</div>
    <div class="yu-notification top-right">
        <div class="notice">
            <i class="iconfont icon-check-circle"></i>
            <i class="iconfont icon-close"></i>
            <div class="content">
                <div class="message">
                    标题
                </div>
                <div class="description">
                    成功
                </div>
            </div>
        </div>
    </div>

    <h4 class="web-title">其他位置</h4>
    <!--<div class="yu-notification top-left">-->
    <!--<div class="notice">-->
    <!--<i class="iconfont icon-close"></i>-->
    <!--<div class="content">-->
    <!--<div class="message">-->
    <!--标题1-->
    <!--</div>-->
    <!--<div class="description">-->
    <!--内容1-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="notice">-->
    <!--<i class="iconfont icon-close"></i>-->
    <!--<div class="content">-->
    <!--<div class="message">-->
    <!--标题2-->
    <!--</div>-->
    <!--<div class="description">-->
    <!--内容2-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="yu-notification bottom-left">
        <div class="notice active">
            <i class="iconfont icon-close"></i>
            <div class="content">
                <div class="message">
                    标题2
                </div>
                <div class="description">
                    内容2
                </div>
            </div>
        </div>
        <div class="notice active">
            <i class="iconfont icon-close"></i>
            <div class="content">
                <div class="message">
                    标题1
                </div>
                <div class="description">
                    内容1
                </div>
            </div>
        </div>
    </div>
    <div class="yu-notification bottom-right">
        <div class="notice active">
            <i class="iconfont icon-close"></i>
            <div class="content">
                <div class="message">
                    标题2
                </div>
                <div class="description">
                    内容2
                </div>
            </div>
        </div>
        <div class="notice active">
            <i class="iconfont icon-close"></i>
            <div class="content">
                <div class="message">
                    标题1
                </div>
                <div class="description">
                    内容1
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var buttons = document.querySelectorAll('.yu-button');
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function (e) {
            var notice = e.currentTarget.nextElementSibling.querySelector('.notice');
            notice.classList.toggle('active', !notice.classList.contains('active'));
        })
    }
    var closes = document.querySelectorAll('.iconfont.icon-close');
    for (var f = 0; f < closes.length; f++) {
        closes[f].addEventListener('click', function (e) {
            e.currentTarget.parentNode.classList.remove('active');
            setTimeout(function () {
                e.currentTarget.parentNode.parentNode.removeChild(e.currentTarget.parentNode)
            }, 400)
        })
    }
</script>
</html>
