<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="/css/component/placeholder.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">段落占位</h4>
    <div class="yu-placeholder">
        <ul>
            <li class="normal"></li>
            <li class="short"></li>
            <li class="long"></li>
        </ul>
    </div>
    <div class="yu-placeholder">
        <ul>
            <li class="normal"></li>
            <li class="short"></li>
            <li class="long"></li>
        </ul>
    </div>



    <h4 class="web-title">图片开头</h4>
    <div class="yu-placeholder">
        <div class="image"></div>
        <ul>
            <li class="normal"></li>
            <li class="short"></li>
        </ul>
    </div>
    <div class="yu-placeholder">
        <ul>
            <li class="normal"></li>
            <li class="short"></li>
            <li class="long"></li>
        </ul>
    </div>

    <h4 class="web-title">卡片</h4>
    <div style="width: 500px;height: 200px;border: 1px solid #eee;padding: 14px;">
        <div class="yu-placeholder">
            <div class="image"></div>
            <ul>
                <li class="normal"></li>
                <li class="short"></li>
            </ul>
        </div>
        <div class="yu-placeholder">
            <ul>
                <li class="normal"></li>
                <li class="short"></li>
                <li class="long"></li>
            </ul>
        </div>
    </div>

    <h4 class="web-title">动画效果</h4>
    <div class="yu-placeholder active">
        <div class="image"></div>
        <ul>
            <li class="normal"></li>
            <li class="short"></li>
        </ul>
    </div>
    <div class="yu-placeholder active">
        <ul>
            <li class="normal"></li>
            <li class="short"></li>
            <li class="long"></li>
        </ul>
    </div>



</div>
</body>
</html>
