<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../../css/component/rate.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">等级</h4>
    <div class="yu-rate">
        <i class="iconfont icon-star-o"></i>
        <i class="iconfont icon-star-o"></i>
        <i class="iconfont icon-star-o"></i>
        <i class="iconfont icon-star-o"></i>
        <i class="iconfont icon-star-o"></i>
        <span>普通</span>
        <input type="text">
    </div>
    <div class="yu-rate">
        <i class="iconfont icon-star"></i>
        <i class="iconfont icon-star"></i>
        <i class="iconfont icon-star"></i>
        <i class="iconfont icon-star-o"></i>
        <i class="iconfont icon-star-o"></i>
        <span>普通</span>
        <input type="text">
    </div>
</div>
</body>
</html>
