<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../../css/component/tabs.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">基础用法</h4>
    <div class="yu-tabs">
        <ul>
            <li>用户管理</li>
            <li>配置管理</li>
            <li id="role">角色管理</li>
            <li class=active">权限管理</li>
            <i class="line" style="left: 252px;"></i>
        </ul>
    </div>
    <h4 class="web-title">选项卡样式</h4>
    <div class="yu-tabs card">
        <ul>
            <li>用户管理</li>
            <li>配置管理</li>
            <li>角色管理</li>
            <li class="active">权限管理</li>
        </ul>
    </div>
    <h4 class="web-title">卡片化样式</h4>
    <div class="yu-tabs border-card">
        <ul>
            <li>用户管理</li>
            <li>配置管理</li>
            <li>角色管理</li>
            <li class="active">权限管理</li>
        </ul>
    </div>
    <h4 class="web-title">位置（只允许默认样式）</h4>
    <div class="web-description">
        左
    </div>
    <div class="yu-tabs default left">
        <ul>
            <li>用户管理</li>
            <li>配置管理</li>
            <li>角色管理</li>
            <li class="active">权限管理</li>
            <i class="line" style="left: 148px;top:120px;"></i>
        </ul>
    </div>
    <div class="web-description">
        上
    </div>
    <div class="yu-tabs">
        <ul>
            <li>用户管理</li>
            <li>配置管理</li>
            <li>角色管理</li>
            <li class="active">权限管理</li>
            <i class="line" style="left: 252px;"></i>
        </ul>
    </div>
    <div class="web-description">
        右
    </div>
    <div class="yu-tabs default right">
        <ul>
            <li>用户管理</li>
            <li>配置管理</li>
            <li>角色管理</li>
            <li class="active">权限管理</li>
            <i class="line" style="top:120px;"></i>
        </ul>
    </div>
    <div class="web-description">
        下
    </div>
    <div class="yu-tabs default bottom">
        <ul>
            <i class="line" style="left: 252px;"></i>
            <li>用户管理</li>
            <li>配置管理</li>
            <li>角色管理</li>
            <li class="active">权限管理</li>
        </ul>
    </div>

    <h4 class="web-title">动态添加和删除</h4>
    <div class="yu-tabs card">
        <ul>
            <li>用户管理</li>
            <li>配置管理</li>
            <li>角色管理</li>
            <li class="active">权限管理 <i class="iconfont icon-close"></i></li>
        </ul>
    </div>


</div>
</body>
<script type="text/javascript">
    document.getElementById('role').addEventListener('click', function (e) {
        e.currentTarget.classList.add('active');
        e.currentTarget.nextElementSibling.classList.remove('active');
        e.currentTarget.nextElementSibling.nextElementSibling.style.left = (252 - 84) + 'px';
    })
</script>
</html>
