<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../../css/component/tag.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">标签</h4>
    <div class="yu-tag">内容</div>

    <h4 class="web-title">可关闭</h4>
    <div class="yu-tag">内容 <i class="iconfont icon-close"></i></div>

    <h4 class="web-title">不同尺寸</h4>
    <div class="yu-tag small">内容<i class="iconfont icon-close"></i></div>
    <div class="yu-tag">内容 <i class="iconfont icon-close"></i></div>
    <div class="yu-tag large">内容 <i class="iconfont icon-close"></i></div>

    <h4 class="web-title">不同颜色</h4>
    <div class="yu-tag primary">内容 <i class="iconfont icon-close"></i></div>
    <div class="yu-tag success">内容 <i class="iconfont icon-close"></i></div>
    <div class="yu-tag warning">内容 <i class="iconfont icon-close"></i></div>
    <div class="yu-tag danger">内容 <i class="iconfont icon-close"></i></div>
    <div class="yu-tag info">内容 <i class="iconfont icon-close"></i></div>

    <h4 class="web-title">无边框</h4>
    <div class="yu-tag border-none">内容 <i class="iconfont icon-close"></i></div>
</div>
</body>
</html>
