<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="/css/component/transfer.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">普通使用</h4>
    <div class="yu-transfer">
        <div class="option">
            <div class="head">
                <label class="yu-checkbox control part">
                    <span class="checkbox"><input type="checkbox"></span>
                    <span> 2/10苹果</span>
                </label>
                <span class="tag">source</span>
            </div>
            <ul>
                <li>
                    <label class="yu-checkbox">
                        <span class="checkbox"><input type="checkbox"></span>
                        <span>苹果</span>
                    </label>
                </li>
                <li>
                    <label class="yu-checkbox checked">
                        <span class="checkbox"><input type="checkbox"></span>
                        <span>苹果苹果苹果苹果苹果苹果苹果苹果苹果</span>
                    </label>
                </li>
                <li>
                    <label class="yu-checkbox checked">
                        <span class="checkbox"><input type="checkbox"></span>
                        <span>苹果</span>
                    </label>
                </li>
                <li>
                    <label class="yu-checkbox">
                        <span class="checkbox"><input type="checkbox"></span>
                        <span>苹果</span>
                    </label>
                </li>
                <li>
                    <label class="yu-checkbox">
                        <span class="checkbox"><input type="checkbox"></span>
                        <span>苹果</span>
                    </label>
                </li>
                <li>
                    <label class="yu-checkbox">
                        <span class="checkbox"><input type="checkbox"></span>
                        <span>苹果</span>
                    </label>
                </li>
                <li>
                    <label class="yu-checkbox">
                        <span class="checkbox"><input type="checkbox"></span>
                        <span>苹果</span>
                    </label>
                </li>
                <li>
                    <label class="yu-checkbox">
                        <span class="checkbox"><input type="checkbox"></span>
                        <span>苹果</span>
                    </label>
                </li>
                <li>
                    <label class="yu-checkbox">
                        <span class="checkbox"><input type="checkbox"></span>
                        <span>苹果</span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="operation">
            <button class="yu-button primary small circle"> <i class="iconfont icon-angle-left"></i> </button>
            <button class="yu-button primary small circle"> <i class="iconfont icon-angle-right"></i> </button>
        </div>
        <div class="option">
            <div class="head">
                <label class="yu-checkbox">
                    <span class="checkbox"><input type="checkbox"></span>
                    <span>苹果</span>
                </label>
                <span class="tag">source</span>
            </div>
            <ul>
                <li>
                    <label class="yu-checkbox">
                        <span class="checkbox"><input type="checkbox"></span>
                        <span>苹果</span>
                    </label>
                </li>
                <li>
                    <label class="yu-checkbox">
                        <span class="checkbox"><input type="checkbox"></span>
                        <span>苹果</span>
                    </label>
                </li>
                <li>
                    <label class="yu-checkbox">
                        <span class="checkbox"><input type="checkbox"></span>
                        <span>苹果</span>
                    </label>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>
