<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="/css/component/tree.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">选择树</h4>
    <div style="border: 1px solid #eee;">
        <ul class="yu-tree">
            <li class="leaf">
                <i class="iconfont icon-angle-down"></i>
                <label class="yu-checkbox">
                    <span class="checkbox"><input type="checkbox"></span>
                    <span>苹果1</span>
                </label>
                <ul class="child-tree">
                    <li class="leaf">
                        <i class="iconfont icon-angle-down"></i>
                        <label class="yu-checkbox">
                            <span class="checkbox"><input type="checkbox"></span>
                            <span>苹果2</span>
                        </label>
                        <ul class="child-tree">
                            <li class="leaf">
                                <i class="iconfont icon-angle-down"></i>
                                <label class="yu-checkbox control part">
                                    <span class="checkbox"><input type="checkbox"></span>
                                    <span>苹果</span>
                                </label>
                                <ul class="child-tree last">
                                    <li class="leaf">
                                        <label class="yu-checkbox">
                                            <span class="checkbox"><input type="checkbox"></span>
                                            <span>苹果</span>
                                        </label>
                                    </li>
                                    <li class="leaf">
                                        <label class="yu-checkbox checked">
                                            <span class="checkbox"><input type="checkbox"></span>
                                            <span>苹果</span>
                                        </label>
                                    </li>
                                    <li class="leaf">
                                        <label class="yu-checkbox">
                                            <span class="checkbox"><input type="checkbox"></span>
                                            <span>苹果</span>
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>


    <h4 class="web-title">文本树</h4>
    <ul class="yu-tree">
        <li class="leaf">
            <i class="iconfont icon-angle-down"></i>
            <span>苹果</span>
            <ul class="child-tree">
                <li class="leaf">
                    <i class="iconfont icon-angle-down"></i>
                    <span>苹果</span>
                    <ul class="child-tree">
                        <i class="iconfont icon-angle-down"></i>
                        <span>苹果</span>
                        <ul class="child-tree last">
                            <li class="leaf">
                                <label>苹果</label>
                            </li>
                            <li class="leaf">
                                <label>苹果</label>
                            </li>
                            <li class="leaf active">
                                <label>苹果苹果苹果苹果苹果</label>
                            </li>
                            <li class="leaf">
                                <label>苹果</label>
                            </li>
                        </ul>
                    </ul>
                </li>
            </ul>
    </ul>

    <h4 class="web-title">树动画</h4>
    <div style="border: 1px solid #eee;">
        <ul class="yu-tree">
            <li class="leaf">
                <div class="tree-title">
                    <i class="iconfont icon-angle-down"></i>
                    <label class="yu-checkbox">
                        <span class="checkbox"><input type="checkbox"></span>
                        <span>苹果1</span>
                    </label>
                </div>
                <ul class="child-tree">
                    <li class="leaf">
                        <div class="tree-title">
                            <i class="iconfont icon-angle-down"></i>
                            <label class="yu-checkbox">
                                <span class="checkbox"><input type="checkbox"></span>
                                <span>苹果2</span>
                            </label>
                        </div>
                        <ul class="child-tree">
                            <li class="leaf">
                                <div class="tree-title">
                                    <i class="iconfont icon-angle-down"></i>
                                    <label class="yu-checkbox control part">
                                        <span class="checkbox"><input type="checkbox"></span>
                                        <span>苹果</span>
                                    </label>
                                </div>
                                <ul class="child-tree last">
                                    <li class="leaf">
                                        <label class="yu-checkbox">
                                            <span class="checkbox"><input type="checkbox"></span>
                                            <span>苹果</span>
                                        </label>
                                    </li>
                                    <li class="leaf">
                                        <label class="yu-checkbox checked">
                                            <span class="checkbox"><input type="checkbox"></span>
                                            <span>苹果</span>
                                        </label>
                                    </li>
                                    <li class="leaf">
                                        <label class="yu-checkbox">
                                            <span class="checkbox"><input type="checkbox"></span>
                                            <span>苹果</span>
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>
<script>
    var on = false
    Array.from(document.querySelectorAll('.tree-title')).forEach((item)=>{
        item.addEventListener('click', function (e) {
            e.currentTarget.classList.toggle('active', !on);
            e.currentTarget.nextElementSibling.style.height = on ? '0' : '120px';
            on = !on;
        })
    })
</script>
</body>
</html>
