<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="/css/component/tree.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">选择树</h4>
    <div style="border: 1px solid #eee;">
        <div class="yu-tree">
            <div class="leaf">
                <div class="leaf more">
                    <i class="iconfont icon-angle-down"></i>
                    <label class="yu-checkbox">
                        <span class="checkbox"><input type="checkbox"></span>
                        <span>苹果1</span>
                    </label>
                </div>
                <div class="leaf more">
                    <div class="leaf">
                        <i class="iconfont icon-angle-down"></i>
                        <label class="yu-checkbox">
                            <span class="checkbox"><input type="checkbox"></span>
                            <span>苹果2</span>
                        </label>
                    </div>
                    <div class="leaf">
                        <div class="leaf">
                            <i class="iconfont icon-angle-down"></i>
                            <label class="yu-checkbox">
                                <span class="checkbox"><input type="checkbox"></span>
                                <span>苹果</span>
                            </label>
                        </div>
                        <div class="leaf">
                            <div class="head">
                                <i class="iconfont icon-angle-down"></i>
                                <label class="yu-checkbox">
                                    <span class="checkbox"><input type="checkbox"></span>
                                    <span>苹果</span>
                                </label>
                            </div>
                            <div class="leaf">
                                <label class="yu-checkbox">
                                    <span class="checkbox"><input type="checkbox"></span>
                                    <span>苹果</span>
                                </label>
                                <label class="yu-checkbox">
                                    <span class="checkbox"><input type="checkbox"></span>
                                    <span>苹果</span>
                                </label>
                                <label class="yu-checkbox">
                                    <span class="checkbox"><input type="checkbox"></span>
                                    <span>苹果</span>
                                </label>
                                <label class="yu-checkbox">
                                    <span class="checkbox"><input type="checkbox"></span>
                                    <span>苹果</span>
                                </label>
                                <div class="head">
                                    <i class="iconfont icon-angle-down"></i>
                                    <label class="yu-checkbox">
                                        <span class="checkbox"><input type="checkbox"></span>
                                        <span>苹果</span>
                                    </label>
                                </div>
                                <div class="leaf">
                                    <div class="leaf">
                                        <label class="yu-checkbox">
                                            <span class="checkbox"><input type="checkbox"></span>
                                            <span>苹果</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <h4 class="web-title">文本树</h4>
    <div class="yu-tree">
        <div class="leaf">
            <i class="iconfont icon-angle-down"></i>
            <div class="leaf">
                <label>苹果</label>
                <div class="leaf">
                    <i class="iconfont icon-angle-down"></i>
                    <div class="leaf">
                        <label>苹果</label>
                        <label class="active">苹果</label>
                        <label>苹果</label>
                        <label>苹果</label>
                        <div class="leaf">
                            <i class="iconfont icon-angle-down"></i>
                            <div class="leaf">
                                <label>苹果</label>
                                <label>苹果</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
