*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

html {
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    position: relative;
    min-height: 100%;
}

body, button, input, select, textarea {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    font-size: 100%;
    overflow: visible;
}

code, kbd, pre, samp {
    font-family: Consolas, Menlo, Courier, monospace;
}

body {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

b, strong {
    font-weight: bold;
}

i, em {
    font-style: normal;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0 none;
    max-width: 100%;
    vertical-align: top;
    height: auto;
}

a,
button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer;
}

[type="button"],
[type="submit"],
[type="reset"],
[type="text"],
[type="number"],
[type="tel"],
[type="date"],
[type="time"],
[type="datetime"],
[type="datetime-local"],
button {
    -webkit-appearance: none;
}

input::-ms-clear,
textarea::-ms-clear {
    display: none;
}

[type="search"]::-webkit-input-speech-button,
[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button,
[type="search"]::-webkit-search-results-decoration {
    display: none;
    -webkit-appearance: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
