<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../../build/component/badge.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">标记</h4>
    <div class="yu-badge">
        <div class="badge">1</div>
        <button class="yu-button">button</button>
    </div>

    <div class="yu-badge">
        <div class="badge">999+</div>
        <button class="yu-button">button</button>
    </div>

    <h4 class="web-title">标记 小红点</h4>
    <div class="yu-badge">
        <div class="dot"></div>
        <button class="yu-button">button</button>
    </div>

    <h4 class="web-title">标记隐藏</h4>
    <div class="yu-badge">
        <div class="badge hide">1</div>
        <button class="yu-button">button</button>
    </div>
    <div class="yu-badge">
        <div class="dot hide">1</div>
        <button class="yu-button">button</button>
    </div>
    <h4 class="web-title">不同颜色</h4>
    <div class="yu-badge">
        <div class="badge primary">1</div>
        <button class="yu-button">button</button>
    </div>
    <div class="yu-badge">
        <div class="dot success">1</div>
        <button class="yu-button">button</button>
    </div>
    <h4 class="web-title">动画</h4>
    <div class="yu-badge">
        <div class="badge">1</div>
        <button class="yu-button">button</button>
    </div>
    <button class="yu-button add">加</button>
    <button class="yu-button sub">减</button>

    <div class="yu-badge">
        <div class="dot zoom-in-center-enter">1</div>
        <button class="yu-button">button</button>
    </div>
    <button class="yu-button on">开</button>
    <button class="yu-button off">关</button>
</div>
</body>
<script type="text/javascript">
    document.querySelector('.add').addEventListener('click', function (e) {
        e.target.previousElementSibling.firstElementChild.innerHTML++
    })
    document.querySelector('.sub').addEventListener('click', function (e) {
        e.target.previousElementSibling.firstElementChild.innerHTML--
    })
    var on = false
    document.querySelector('.on').addEventListener('click', function (e) {
        var node = e.target.previousElementSibling.firstElementChild
        node.classList.remove('zoom-in-center-enter')
        node.classList.toggle('zoom-in-center-enter-active', on)
        node.classList.toggle('zoom-in-center-leave-active', !on)
        on = !on
    })
    document.querySelector('.off').addEventListener('click', function (e) {
        var node = e.target.previousElementSibling.previousElementSibling.firstElementChild
        node.classList.remove('zoom-in-center-enter')
        node.classList.toggle('zoom-in-top-enter-active', true)
        node.classList.toggle('zoom-in-top-leave-active', false)
    })
</script>
</html>
