<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../../build/component/breadcrumb.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">简单用法</h4>
    <div class="yu-breadcrumb">
        <span class="yu-breadcrumb-item">
            <span>首页</span>
            <i>/</i>
        </span>
        <span class="yu-breadcrumb-item">
            <span>用户管理</span>
            <i>/</i>
        </span>
        <span class="yu-breadcrumb-item current">
            <span>添加用户</span>
        </span>
    </div>
    <h4 class="web-title">图标分隔符</h4>
    <div class="yu-breadcrumb">
        <span class="yu-breadcrumb-item">
            <span>首页</span>
            <i class="iconfont icon-angle-right"></i>
        </span>
        <span class="yu-breadcrumb-item">
            <span>用户管理</span>
            <i class="iconfont icon-angle-right"></i>
        </span>
        <span class="yu-breadcrumb-item current">
            <span>添加用户</span>
        </span>
    </div>

</div>
</body>
<script type="text/javascript">
</script>
</html>
