<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../../build/component/cascader.css">
    <link rel="stylesheet" href="../../build/component/cascader.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">级联选项</h4>
    <div class="yu-cascader">
        <div class="yu-input">
            <input type="text" class="suffix" placeholder="请选择">
            <span class="suffix icon">
                <i class="iconfont icon-angle-down"></i>
            </span>
        </div>
        <div class="yu-cascader-option">
            <ul class="yu-option">
                <li>猫 <i class="iconfont icon-angle-right"></i></li>
                <li class="active">猫<i class="iconfont icon-angle-right"></i></li>
                <li class="disabled">猫<i class="iconfont icon-angle-right"></i></li>
                <li>猫<i class="iconfont icon-angle-right"></i></li>
                <li>猫<i class="iconfont icon-angle-right"></i></li>
                <li>猫<i class="iconfont icon-angle-right"></i></li>
                <li>猫<i class="iconfont icon-angle-right"></i></li>
            </ul>
            <ul class="yu-option">
                <li>猫</li>
                <li class="active">猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
            </ul>
        </div>
    </div>
    <h4 class="web-title">多项级联选项</h4>
    <div class="yu-cascader">
        <div class="yu-input">
            <input type="text" class="suffix" placeholder="请选择">
            <span class="suffix icon">
                <i class="iconfont icon-angle-down"></i>
            </span>
        </div>
        <div class="yu-cascader-option">
            <ul class="yu-option">
                <li>猫 <i class="iconfont icon-angle-right"></i></li>
                <li class="active">猫<i class="iconfont icon-angle-right"></i></li>
                <li class="disabled">猫<i class="iconfont icon-angle-right"></i></li>
                <li>猫<i class="iconfont icon-angle-right"></i></li>
                <li>猫<i class="iconfont icon-angle-right"></i></li>
                <li>猫<i class="iconfont icon-angle-right"></i></li>
                <li>猫<i class="iconfont icon-angle-right"></i></li>
            </ul>
            <ul class="yu-option">
                <li>猫</li>
                <li class="active">猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
            </ul>
            <ul class="yu-option">
                <li>猫</li>
                <li class="active">猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
            </ul>
            <ul class="yu-option">
                <li>猫</li>
                <li class="active">猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
            </ul>
        </div>
    </div>


    <h4 class="web-title">级联选项(溢出)</h4>
    <div class="yu-cascader">
        <div class="yu-input">
            <input type="text" class="suffix" placeholder="请选择">
            <span class="suffix icon">
                <i class="iconfont icon-angle-down"></i>
            </span>
        </div>
        <div class="yu-cascader-option">
            <ul class="yu-option">
                <li>猫</li>
                <li class="active">猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
            </ul>
            <ul class="yu-option">
                <li>猫</li>
                <li class="active">猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
                <li>猫</li>
            </ul>
        </div>
    </div>

</div>
</body>
</html>
