<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../../dist/main.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">年份选择器</h4>
    <div class="yu-date-picker-option">
        <div class="container">
            <div class="head">
                <a class="left"><i class="iconfont icon-angle-double-left"></i></a>
                <div>
                    <span>2018年~2030年</span>
                </div>
                <a class="right"><i class="iconfont icon-angle-double-right"></i></a>
            </div>
            <div class="content">
                <table class="date year">
                    <tbody>
                    <tr>
                        <td>2018</td>
                        <td class="active">2019</td>
                        <td class="disabled">2020</td>
                        <td>2021</td>
                    </tr>
                    <tr>
                        <td>2022</td>
                        <td>2023</td>
                        <td>2024</td>
                        <td>2025</td>
                    </tr>
                    <tr>
                        <td>2026</td>
                        <td>2027</td>
                        <td>2028</td>
                        <td>2029</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h4 class="web-title">月份选择器</h4>
    <div class="yu-date-picker-option">
        <div class="container">
            <div class="head">
                <a class="left"><i class="iconfont icon-angle-double-left"></i></a>
                <div>
                    <span>2018年</span>
                </div>
                <a class="right"><i class="iconfont icon-angle-double-right"></i></a>
            </div>
            <div class="content">
                <table class="date month">
                    <tbody>
                    <tr>
                        <td>一月</td>
                        <td class="active">二月</td>
                        <td class="disabled">三月</td>
                        <td>四月</td>
                    </tr>
                    <tr>
                        <td>五月</td>
                        <td>六月</td>
                        <td>七月</td>
                        <td>八月</td>
                    </tr>
                    <tr>
                        <td>九月</td>
                        <td>十月</td>
                        <td>十一月</td>
                        <td>十二月</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h4 class="web-title">日期选择器</h4>
    <div class="yu-date-picker-option">
        <div class="container">
            <div class="head">
                <a class="left"><i class="iconfont icon-angle-double-left"></i></a>
                <a class="left"><i class="iconfont icon-angle-left"></i></a>
                <div>
                    <span>2018年</span>
                    <span>12月</span>
                </div>
                <a class="right"><i class="iconfont icon-angle-double-right"></i></a>
                <a class="right"><i class="iconfont icon-angle-right"></i></a>
            </div>
            <div class="content">
                <table class="date">
                    <thead>
                    <tr>
                        <th>日</th>
                        <th>一</th>
                        <th>二</th>
                        <th>三</th>
                        <th>四</th>
                        <th>五</th>
                        <th>六</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>30</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script>
</script>
</html>
