<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../../dist/main.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">表单字段</h4>
    <div class="yu-field">
        <label>用户名</label>
        <div class="field">
            <div class="yu-input">
                <input type="text" placeholder="用户名">
            </div>
        </div>
    </div>

    <h4 class="web-title">标签位置</h4>
    <div class="yu-field">
        <label>用户名</label>
        <div class="field">
            <div class="yu-input">
                <input type="text" placeholder="用户名">
            </div>
        </div>
    </div>
    <div class="yu-field flex">
        <label class="right">用户名</label>
        <div class="field">
            <div class="yu-input">
                <input type="text" placeholder="用户名">
            </div>
        </div>
    </div>
    <div class="yu-field flex">
        <label class="left">用户名</label>
        <div class="field">
            <div class="yu-input">
                <input type="text" placeholder="用户名">
            </div>
        </div>
    </div>


    <h4 class="web-title">行内表单</h4>
    <div>
        <div class="yu-field inline">
            <div class="field">
                <div class="yu-input">
                    <input type="text" placeholder="用户名">
                </div>
            </div>
        </div>
        <div class="yu-field inline">
            <div class="field">
                <div class="yu-input">
                    <input type="text" placeholder="用户名">
                </div>
            </div>
        </div>
        <button class="yu-button primary">提交</button>
    </div>

    <div>
        <div class="yu-field inline">
            <label>用户名</label>
            <div class="field">
                <div class="yu-input">
                    <input type="text" placeholder="用户名">
                </div>
            </div>
        </div>
        <div class="yu-field inline">
            <label>用户名</label>
            <div class="field">
                <div class="yu-input">
                    <input type="text" placeholder="用户名">
                </div>
            </div>
        </div>
        <button class="yu-button primary">提交</button>
    </div>



    <h4 class="web-title">错误提示</h4>
    <div class="yu-field error">
        <label>用户名</label>
        <div class="field">
            <div class="yu-input">
                <input type="text" placeholder="用户名">
            </div>
            <p class="error">用户名错误</p>
        </div>
    </div>
    <div class="yu-field error inline">
        <label>用户名</label>
        <div class="field">
            <div class="yu-input">
                <input type="text" placeholder="用户名">
            </div>
            <p class="error">用户名错误</p>
        </div>
    </div>
</div>
</body>
</html>
