<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../../dist/main.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">文件列表</h4>
    <ul class="yu-file-list simple">
        <li>
            <i class="iconfont icon-accessory"></i>
            <span>微信截图_20181101141520.png</span>
            <i class="iconfont icon-close"></i>
        </li>
        <li>
            <i class="iconfont icon-accessory"></i>
            <span>微信截图_20181101141520.png</span>
            <i class="iconfont icon-close"></i>
        </li>
        <li>
            <i class="iconfont icon-accessory"></i>
            <span>微信截图_20181101141520.png</span>
            <i class="iconfont icon-close"></i>
        </li>
    </ul>
    <h4 class="web-title">文件列表（不同颜色状态）</h4>
    <ul class="yu-file-list">
        <li class="success">
            <i class="iconfont icon-accessory"></i>
            <span>微信截图_20181101141520.png</span>
            <i class="iconfont icon-close"></i>
        </li>
        <li class="danger">
            <i class="iconfont icon-accessory"></i>
            <span>微信截图_20181101141520.png</span>
            <i class="iconfont icon-close"></i>
        </li>
    </ul>
    <h4 class="web-title">照片墙</h4>
    <ul class="yu-file-list picture">
        <li>
            <div class="wrap">
                <img src="http://b-ssl.duitang.com/uploads/item/201502/17/20150217161549_C4K8L.jpeg" alt="">
                <div class="mask">
                    <i class="iconfont icon-eye"></i>
                    <i class="iconfont icon-trash"></i>
                </div>
            </div>
        </li>
        <li>
            <div class="wrap">
                <img src="http://pic1.win4000.com/wallpaper/2018-02-01/5a72d6ee6b46f.jpg" alt="">
                <div class="mask">
                    <i class="iconfont icon-eye"></i>
                    <i class="iconfont icon-trash"></i>
                </div>
            </div>
        </li>
        <li>
            <div class="wrap">
                <img src="http://img2.imgtn.bdimg.com/it/u=2166328318,229978306&fm=26&gp=0.jpg" alt="">
                <div class="mask">
                    <i class="iconfont icon-eye"></i>
                    <i class="iconfont icon-trash"></i>
                </div>
            </div>
        </li>
    </ul>
</div>
</body>
<script>
</script>
</html>
