<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../../dist/main.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">文件列表</h4>
    <ul class="yu-file-list">
        <li>
            <i class="iconfont icon-accessory"></i>
            <span>微信截图_20181101141520.png</span>
            <i class="iconfont icon-close"></i>
        </li>
        <li>
            <i class="iconfont icon-accessory"></i>
            <span>微信截图_20181101141520.png</span>
            <i class="iconfont icon-close"></i>
        </li>
        <li>
            <i class="iconfont icon-accessory"></i>
            <span>微信截图_20181101141520.png</span>
            <i class="iconfont icon-close"></i>
        </li>
    </ul>
    <h4 class="web-title">文件列表（不同颜色状态）</h4>
    <ul class="yu-file-list">
        <li class="success">
            <i class="iconfont icon-accessory"></i>
            <span>微信截图_20181101141520.png</span>
            <i class="iconfont icon-close"></i>
        </li>
        <li class="danger">
            <i class="iconfont icon-accessory"></i>
            <span>微信截图_20181101141520.png</span>
            <i class="iconfont icon-close"></i>
        </li>
    </ul>
</div>
</body>
<script>
</script>
</html>
