<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../../dist/main.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">加载</h4>
    <div class="yu-loading">
        <i class="iconfont icon-loading loading" ></i>
    </div>

    <h4 class="web-title">加载文字</h4>
    <div class="yu-loading">
        <i class="iconfont icon-loading loading" ></i>
        <div class="loading-text">正在加载</div>
    </div>
</div>
</body>
</html>
