<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../../dist/main.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">普通用法</h4>
    <div class="yu-message">
        <div class="content">内容</div>
        <i class="iconfont icon-close"></i>
    </div>

    <h4 class="web-title">自定义图标</h4>
    <div class="yu-message">
        <i class="iconfont icon-check-circle"></i>
        <div class="content">内容</div>
        <i class="iconfont icon-close"></i>
    </div>

    <h4 class="web-title">自定义HTML</h4>
    <div class="yu-message">
        <i class="iconfont icon-check-circle"></i>
        <div class="content">
            <h3 style="margin: 0">HELLO</h3>
        </div>
        <i class="iconfont icon-close"></i>
    </div>
    <h4 class="web-title">居中</h4>
    <div class="yu-message center">
        <i class="iconfont icon-check-circle"></i>
        <div class="content">
            内容
        </div>
        <i class="iconfont icon-close"></i>
    </div>
    <h4 class="web-title">不同类型消息</h4>
    <div class="yu-message">
        <i class="iconfont icon-check-circle"></i>
        <div class="content">
            内容
        </div>
        <i class="iconfont icon-close"></i>
    </div>
</div>
</body>
<script type="text/javascript">
</script>
</html>
