<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../../dist/main.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">通知</h4>
    <div class="yu-notification">
        <div class="notification" style="right: 0;">
            <div class="notification-icon">
                <i class="iconfont"></i>
            </div>
            <div class="notification-content">
                <div class="notification-title">
                    标题
                    <i class="iconfont icon-close"></i>
                </div>
                <div class="notification-content">
                    内容
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
