<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../../dist/main.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">选项</h4>
    <ul class="yu-option">
        <li class="option">猫</li>
        <li class="option">猫</li>
        <li class="option">猫</li>
        <li class="option">猫</li>
    </ul>

    <h4 class="web-title">禁用</h4>
    <ul class="yu-option">
        <li class="option">猫</li>
        <li class="option disabled">猫</li>
        <li class="option">猫</li>
        <li class="option">猫</li>
    </ul>

    <h4 class="web-title">隐藏</h4>
    <ul class="yu-option">
        <li class="option">猫</li>
        <li class="option hide">猫</li>
        <li class="option">猫</li>
        <li class="option">猫</li>
    </ul>

    <h4 class="web-title">激活</h4>
    <ul class="yu-option">
        <li class="option">猫</li>
        <li class="option active">猫</li>
        <li class="option">猫</li>
        <li class="option">猫</li>
    </ul>

    <h4 class="web-title">限高 overflow</h4>
    <ul class="yu-option overflow">
        <li class="option">猫</li>
        <li class="option active">猫</li>
        <li class="option">猫</li>
        <li class="option">猫</li>
        <li class="option">猫</li>
        <li class="option">猫</li>
        <li class="option">猫</li>
        <li class="option">猫</li>
        <li class="option">猫</li>
        <li class="option">猫</li>
    </ul>
</div>
</body>
</html>
