<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../../build/component/pagination.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">简单用法</h4>
    <div class="yu-pagination">
        <ul>
            <li class="disabled"><i class="iconfont icon-angle-left"></i></li>
            <li class="current">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li><i class="iconfont icon-angle-right"></i></li>
        </ul>
    </div>
    <h4 class="web-title">多页效果</h4>
    <div class="yu-pagination">
        <ul>
            <li class="disabled"><i class="iconfont icon-angle-left"></i></li>
            <li class="current">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li class="more">
                <span>...</span>
                <i class="iconfont icon-angle-double-right"></i>
            </li>
            <li>10</li>
            <li><i class="iconfont icon-angle-right"></i></li>
        </ul>
    </div>
    <h4 class="web-title">带背景色</h4>
    <div class="yu-pagination border">
        <ul>
            <li class="disabled"><i class="iconfont icon-angle-left"></i></li>
            <li class="current">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li class="more">
                <span>...</span>
                <i class="iconfont icon-angle-double-right"></i>
            </li>
            <li>10</li>
            <li><i class="iconfont icon-angle-right"></i></li>
        </ul>
    </div>
    <h4 class="web-title">显示总条数</h4>
    <div class="yu-pagination border">
        <span>总共100条数据</span>
        <ul>
            <li class="disabled"><i class="iconfont icon-angle-left"></i></li>
            <li class="current">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li class="more">
                <span>...</span>
                <i class="iconfont icon-angle-double-right"></i>
            </li>
            <li>10</li>
            <li><i class="iconfont icon-angle-right"></i></li>
        </ul>
    </div>
    <h4 class="web-title">调整页数</h4>
    <div class="yu-pagination border">
        <div class="yu-select page-size">
            <div class="yu-input">
                <input type="text" class="suffix" placeholder="10条/页">
                <span class="suffix icon">
                <i class="iconfont icon-angle-down"></i>
            </span>
            </div>
            <ul class="yu-option" style="display: none">
                <li>10条/页</li>
                <li>20条/页</li>
                <li>30条/页</li>
                <li>40条/页</li>
            </ul>
        </div>
        <ul>
            <li class="disabled"><i class="iconfont icon-angle-left"></i></li>
            <li class="current">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li class="more">
                <span>...</span>
                <i class="iconfont icon-angle-double-right"></i>
            </li>
            <li>10</li>
            <li><i class="iconfont icon-angle-right"></i></li>
        </ul>
    </div>
    <h4 class="web-title">跳页</h4>
    <div class="yu-pagination border">
        <ul>
            <li class="disabled"><i class="iconfont icon-angle-left"></i></li>
            <li class="current">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li class="more">
                <span>...</span>
                <i class="iconfont icon-angle-double-right"></i>
            </li>
            <li>10</li>
            <li><i class="iconfont icon-angle-right"></i></li>
        </ul>
        <label>跳到</label>
        <div class="yu-input goto">
            <input type="text">
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
</script>
</html>
