<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../../build/component/progress.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">进度条</h4>
    <div class="yu-progress">
        <div class="line-outer">
            <div class="line-inner" style="width: 50%"></div>
        </div>
    </div>
    <h4 class="web-title">进度条（激活状态）</h4>
    <div class="yu-progress">
        <div class="line-outer">
            <div class="line-inner active" style="width: 50%"></div>
        </div>
    </div>
    <h4 class="web-title">带文字</h4>
    <div class="yu-progress">
        <div class="line-outer">
            <div class="line-inner" style="width: 50%"></div>
        </div>
        <span class="text">50%</span>
    </div>
    <h4 class="web-title">带图标</h4>
    <div class="yu-progress">
        <div class="line-outer">
            <div class="line-inner" style="width: 50%"></div>
        </div>
        <span class="text">
            <i class="iconfont icon-check-circle"></i>
        </span>
    </div>
    <h4 class="web-title">圆形</h4>
    <div class="yu-progress">
        <div class="circle-outer">
            <svg height="110" width="110">
                <circle cx="55" cy="55" r="52" fill="none" stroke="#e0e1e2" stroke-width="5"
                        stroke-linecap="round"></circle>
                <circle id="bar" cx="55" cy="55" r="52" fill="none" stroke="#409EFF" stroke-width="5"></circle>
            </svg>
        </div>
    </div>
    <div class="yu-progress">
        <div class="circle-outer">
            <svg height="110" width="110">
                <circle cx="55" cy="55" r="52" fill="none" stroke="#e0e1e2" stroke-width="5"
                        stroke-linecap="round"></circle>
                <circle stroke-dasharray="100,10000" id="bar" cx="55" cy="55" r="52" fill="none" stroke="#409EFF"
                        stroke-width="5"></circle>
            </svg>
        </div>
    </div>
</div>
</body>
</html>
