<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../../dist/main.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">等级</h4>
    <div class="yu-rate" >
        <i class="iconfont icon-star-o"></i>
        <i class="iconfont icon-star-o"></i>
        <i class="iconfont icon-star-o"></i>
        <i class="iconfont icon-star-o"></i>
        <i class="iconfont icon-star-o"></i>
        <span v-if="labeled">普通</span>
        <input type="text" style="display: none">
    </div>
    <div class="yu-rate" >
        <i class="iconfont icon-star"></i>
        <i class="iconfont icon-star"></i>
        <i class="iconfont icon-star"></i>
        <i class="iconfont icon-star-o"></i>
        <i class="iconfont icon-star-o"></i>
        <span v-if="labeled">普通</span>
        <input type="text" style="display: none">
    </div>
</div>
</body>
</html>
