<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../../build/component/select.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">下拉选择</h4>
    <div class="yu-select">
        <div class="yu-input">
            <input type="text" class="suffix" placeholder="请选择">
            <span class="suffix icon">
                <i class="iconfont icon-angle-down"></i>
            </span>
        </div>
        <ul class="yu-option">
            <li>猫</li>
            <li>猫</li>
            <li>猫</li>
            <li>猫</li>
        </ul>
    </div>
    <div style="height: 120px"></div>
    <h4 class="web-title">禁用</h4>
    <div class="yu-select">
        <div class="yu-input disabled">
            <input type="text" readonly class="suffix" placeholder="请选择">
            <span class="suffix icon">
                <i class="iconfont icon-angle-down"></i>
            </span>
        </div>
        <ul class="yu-option" style="display: none">
            <li>猫</li>
            <li>猫</li>
            <li>猫</li>
            <li>猫</li>
        </ul>
    </div>
    <div style="height: 120px"></div>
    <h4 class="web-title">自定义选项</h4>
    <div class="yu-select">
        <div class="yu-input">
            <input type="text" class="suffix" placeholder="请选择">
            <span class="suffix icon">
                <i class="iconfont icon-angle-down"></i>
            </span>
        </div>
        <ul class="yu-option">
            <li>
                <h2>hello</h2>
            </li>
            <li>猫</li>
            <li>猫</li>
            <li>猫</li>
        </ul>
    </div>
</div>
</body>
</html>
