<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../../dist/main.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">滑块</h4>
    <div class="yu-slider">
        <div class="bottom-bar" style="width: 500px">
            <div class="top-bar" style="width: 0">
                <span style="left: 0" class="circle">
                    <span class="tooltip">
                      <span>50</span>
                      <span class="tooltip-angle"></span>
                    </span>
                </span>
            </div>
        </div>
        <input type="text" style="display: none;">
    </div>
    <div class="yu-slider">
        <div class="bottom-bar" style="width: 500px">
            <div class="top-bar" style="width: 50%">
                <span style="left: 50%" class="circle">
                    <span class="tooltip">
                      <span>50</span>
                      <span class="tooltip-angle"></span>
                    </span>
                </span>
            </div>
        </div>
        <input type="text" style="display: none;">
    </div>
    <div class="yu-slider">
        <div class="bottom-bar" style="width: 500px">
            <div class="top-bar" style="width: 100%">
                <span style="left: 100%" class="circle">
                    <span class="tooltip">
                      <span>50</span>
                      <span class="tooltip-angle"></span>
                    </span>
                </span>
            </div>
        </div>
        <input type="text" style="display: none;">
    </div>

    <h4 class="web-title">禁用</h4>
    <div class="yu-slider disabled">
        <div class="bottom-bar" style="width: 500px">
            <div class="top-bar" style="width: 50%">
                <span style="left: 50%" class="circle">
                    <span class="tooltip">
                      <span>50</span>
                      <span class="tooltip-angle"></span>
                    </span>
                </span>
            </div>
        </div>
        <input type="text" style="display: none;">
    </div>

    <h4 class="web-title">锚点</h4>
    <div class="yu-slider">
        <div class="bottom-bar" style="width: 500px">
            <div class="top-bar" style="width: 50%">
                <span class="point" style="left: 0;"></span>
                <span class="point" style="left: 10%;"></span>
                <span class="point" style="left: 20%;"></span>
                <span class="point" style="left: 30%;"></span>
                <span class="point" style="left: 40%;"></span>
                <span class="point" style="left: 50%;"></span>
                <span class="point" style="left: 60%;"></span>
                <span class="point" style="left: 70%;"></span>
                <span class="point" style="left: 80%;"></span>
                <span class="point" style="left: 90%;"></span>
                <span class="point" style="left: 100%;"></span>
                <span style="left: 50%" class="circle">
                    <span class="tooltip">
                      <span>50</span>
                      <span class="tooltip-angle"></span>
                    </span>
                </span>
            </div>
        </div>
        <input type="text" style="display: none;">
    </div>
</div>
</body>
<script type="text/javascript">
</script>
</html>
