<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../../dist/main.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">步骤条</h4>
    <div class="yu-steps">
        <div class="yu-steps-item finished" style="width: 50%;margin-right: -72px;">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    <i class="iconfont icon-check"></i>
                </div>
            </div>
            <div class="main">第一步</div>
        </div>
        <div class="yu-steps-item active" style="width: 50%;margin-right: -72px;">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    1
                </div>
            </div>
            <div class="main">第二步</div>
        </div>
        <div class="yu-steps-item">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    2
                </div>
            </div>
            <div class="main">第三步</div>
        </div>
    </div>

    <h4 class="web-title">步骤条,带描述</h4>
    <div class="yu-steps" id="target">
        <div class="yu-steps-item finished" style="width: 50%;margin-right: -72px;">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    <i class="iconfont icon-check"></i>
                </div>
            </div>
            <div class="main">
                <div class="title">第一步</div>
                <div class="description">描述内容</div>
            </div>
        </div>
        <div class="yu-steps-item active" style="width: 50%;margin-right: -72px;">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    1
                </div>
            </div>
            <div class="main">
                <div class="title">第二步</div>
                <div class="description">描述内容</div>
            </div>
        </div>
        <div class="yu-steps-item">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    2
                </div>
            </div>
            <div class="main">
                <div class="title">第三步</div>
                <div class="description">描述内容</div>
            </div>
        </div>
    </div>

    <h4 class="web-title">动态</h4>
    <button class="yu-button">下一步</button>

    <h4 class="web-title">小尺寸</h4>
    <div class="yu-steps">
        <div class="yu-steps-item small" style="width: 50%;margin-right: -72px;">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    <i class="iconfont icon-check"></i>
                </div>
            </div>
            <div class="main">
                <div class="title">第一步</div>
                <div class="description">描述内容</div>
            </div>
        </div>
        <div class="yu-steps-item small" style="width: 50%;margin-right: -72px;">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    1
                </div>
            </div>
            <div class="main">第二步</div>
        </div>
        <div class="yu-steps-item small">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    2
                </div>
            </div>
            <div class="main">第三步</div>
        </div>
    </div>

    <h4 class="web-title">垂直</h4>
    <div class="yu-steps vertical">
        <div class="yu-steps-item finished">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    <i class="iconfont icon-check"></i>
                </div>
            </div>
            <div class="main">
                <div class="title">第一步</div>
                <div class="description">描述内容</div>
            </div>
        </div>
        <div class="yu-steps-item active">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    1
                </div>
            </div>
            <div class="main">
                <div class="title">第一步</div>
                <div class="description">描述内容</div>
            </div>
        </div>
        <div class="yu-steps-item">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    2
                </div>
            </div>
            <div class="main">
                <div class="title">第一步</div>
                <div class="description">描述内容</div>
            </div>
        </div>
    </div>

    <h4 class="web-title">垂直（小型）</h4>
    <div class="yu-steps vertical">
        <div class="yu-steps-item finished small">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    <i class="iconfont icon-check"></i>
                </div>
            </div>
            <div class="main">
                <div class="title">第一步</div>
                <div class="description">描述内容</div>
            </div>
        </div>
        <div class="yu-steps-item active small">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    1
                </div>
            </div>
            <div class="main">
                <div class="title">第一步</div>
                <div class="description">描述内容</div>
            </div>
        </div>
        <div class="yu-steps-item small">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    2
                </div>
            </div>
            <div class="main">
                <div class="title">第一步</div>
                <div class="description">描述内容</div>
            </div>
        </div>
    </div>

</div>
</body>
<script>
    document.querySelector('.yu-button').addEventListener('click',function () {
        document.getElementById('target').children[1].className = 'yu-steps-item finished';
        document.getElementById('target').children[2].className = 'yu-steps-item active';
    })
</script>
</html>
