<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../../dist/main.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">警告</h4>
    <div class="yu-steps">
        <div class="yu-steps-item finished" style="width: 50%;margin-right: -72px;">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    <i class="iconfont icon-check"></i>
                </div>
            </div>
            <div class="main">第一步</div>
        </div>
        <div class="yu-steps-item active" style="width: 50%;margin-right: -72px;">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    1
                </div>
            </div>
            <div class="main">第二步</div>
        </div>
        <div class="yu-steps-item">
            <div class="line">
                <i></i>
            </div>
            <div class="head">
                <div class="inner">
                    2
                </div>
            </div>
            <div class="main">第三步</div>
        </div>
    </div>

</div>
</body>
</html>
