<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yu.css.ui</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../../build/component/table.css">
</head>
<body>
<div class="web-container">
    <h4 class="web-title">普通用法</h4>
    <table class="yu-table" style="width: 100%;">
        <thead>
        <tr>
            <th>
                <div class="cell">日期</div>
            </th>
            <th>
                <div class="cell">姓名</div>
            </th>
            <th>
                <div class="cell">地址</div>
            </th>
        </tr>
        </thead>
        <tbody class="">
        <tr class="">
            <td>
                <div class="cell">
                    2016-05-01
                </div>
            </td>
            <td>
                <div class="cell">
                    王小虎
                </div>
            </td>
            <td>
                <div class="cell">
                    上海市普陀区金沙江路 1516 弄
                </div>
            </td>
        </tr>
        <tr class="">
            <td>
                <div class="cell">
                    2016-05-02
                </div>
            </td>
            <td>
                <div class="cell">
                    王小虎2
                </div>
            </td>
            <td>
                <div class="cell">
                    上海市普陀区金沙江路 1516 弄
                </div>
            </td>
        </tr>
        <tr class="">
            <td>
                <div class="cell">
                    2016-05-04
                </div>
            </td>
            <td>
                <div class="cell">
                    王小虎4
                </div>
            </td>
            <td>
                <div class="cell">
                    上海市普陀区金沙江路 1516 弄
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <h4 class="web-title">条纹</h4>
    <table class="yu-table" style="width: 100%;">
        <thead>
        <tr>
            <th>
                <div class="cell">日期</div>
            </th>
            <th>
                <div class="cell">姓名</div>
            </th>
            <th>
                <div class="cell">地址</div>
            </th>
        </tr>
        </thead>
        <tbody class="stripe">
        <tr class="">
            <td>
                <div class="cell">
                    2016-05-01
                </div>
            </td>
            <td>
                <div class="cell">
                    王小虎
                </div>
            </td>
            <td>
                <div class="cell">
                    上海市普陀区金沙江路 1516 弄
                </div>
            </td>
        </tr>
        <tr class="">
            <td>
                <div class="cell">
                    2016-05-02
                </div>
            </td>
            <td>
                <div class="cell">
                    王小虎2
                </div>
            </td>
            <td>
                <div class="cell">
                    上海市普陀区金沙江路 1516 弄
                </div>
            </td>
        </tr>
        <tr class="">
            <td>
                <div class="cell">
                    2016-05-04
                </div>
            </td>
            <td>
                <div class="cell">
                    王小虎4
                </div>
            </td>
            <td>
                <div class="cell">
                    上海市普陀区金沙江路 1516 弄
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <h4 class="web-title">格子</h4>
    <table class="yu-table celled" style="width: 100%;">
        <thead>
        <tr>
            <th>
                <div class="cell">日期</div>
            </th>
            <th>
                <div class="cell">姓名</div>
            </th>
            <th>
                <div class="cell">地址</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="">
            <td>
                <div class="cell">
                    2016-05-01
                </div>
            </td>
            <td>
                <div class="cell">
                    王小虎
                </div>
            </td>
            <td>
                <div class="cell">
                    上海市普陀区金沙江路 1516 弄
                </div>
            </td>
        </tr>
        <tr class="">
            <td>
                <div class="cell">
                    2016-05-02
                </div>
            </td>
            <td>
                <div class="cell">
                    王小虎2
                </div>
            </td>
            <td>
                <div class="cell">
                    上海市普陀区金沙江路 1516 弄
                </div>
            </td>
        </tr>
        <tr class="">
            <td>
                <div class="cell">
                    2016-05-04
                </div>
            </td>
            <td>
                <div class="cell">
                    王小虎4
                </div>
            </td>
            <td>
                <div class="cell">
                    上海市普陀区金沙江路 1516 弄
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <h4 class="web-title">不同状态</h4>
    <table class="yu-table" style="width: 100%;">
        <thead>
        <tr>
            <th>
                <div class="cell">日期</div>
            </th>
            <th>
                <div class="cell">姓名</div>
            </th>
            <th>
                <div class="cell">地址</div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="success">
            <td>
                <div class="cell">
                    2016-05-01
                </div>
            </td>
            <td>
                <div class="cell">
                    王小虎
                </div>
            </td>
            <td>
                <div class="cell">
                    上海市普陀区金沙江路 1516 弄
                </div>
            </td>
        </tr>
        <tr class="danger">
            <td>
                <div class="cell">
                    2016-05-02
                </div>
            </td>
            <td>
                <div class="cell">
                    王小虎2
                </div>
            </td>
            <td>
                <div class="cell">
                    上海市普陀区金沙江路 1516 弄
                </div>
            </td>
        </tr>
        <tr class="warning">
            <td>
                <div class="cell">
                    2016-05-04
                </div>
            </td>
            <td>
                <div class="cell">
                    王小虎4
                </div>
            </td>
            <td>
                <div class="cell">
                    上海市普陀区金沙江路 1516 弄
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <h4 class="web-title">固定表头</h4>
    <div class="yu-fixed-table">
        <div>
            <table class="yu-table celled" style="width: 900px;">
                <thead>
                <tr>
                    <th style="width: 200px;">
                        <div class="cell">日期</div>
                    </th>
                    <th style="width: 300px;">
                        <div class="cell">姓名</div>
                    </th>
                    <th style="width: 400px;">
                        <div class="cell">地址</div>
                    </th>
                    <th width="20px"></th>
                </tr>
                </thead>
            </table>
            <div class="fixed-box" style="height: 300px; width: 900px;">
                <table class="yu-table celled" style="width: 100%;">
                    <tbody class="">
                    <tr class="">
                        <td style="width: 200px;">
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td style="width: 300px;">
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td style="width: 400px;">
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td style="width: 200px;">
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td style="width: 300px;">
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td style="width: 400px;">
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td style="width: 200px;">
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td style="width: 300px;">
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td style="width: 400px;">
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td style="width: 200px;">
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td style="width: 300px;">
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td style="width: 400px;">
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td style="width: 200px;">
                            <div class="cell">
                                2016-05-01
                            </div>
                        </td>
                        <td style="width: 300px;">
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td style="width: 400px;">
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td style="width: 200px;">
                            <div class="cell">
                                2016-05-02
                            </div>
                        </td>
                        <td style="width: 300px;">
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td style="width: 400px;">
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td style="width: 200px;">
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td style="width: 300px;">
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td style="width: 400px;">
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td style="width: 200px;">
                            <div class="cell">
                                2016-05-04
                            </div>
                        </td>
                        <td style="width: 300px;">
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td style="width: 400px;">
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td style="width: 200px;">
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td style="width: 300px;">
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td style="width: 400px;">
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td style="width: 200px;">
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td style="width: 300px;">
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td style="width: 400px;">
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td style="width: 200px;">
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td style="width: 300px;">
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td style="width: 400px;">
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td style="width: 200px;">
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td style="width: 300px;">
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td style="width: 400px;">
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <table class="yu-table celled" style="width: 900px;"></table>
        </div>
    </div>

    <h4 class="web-title">自定义底部</h4>
    <table class="yu-table" data-v-6c46e1ce="" style="width: 100%;">
        <thead>
        <tr>
            <th>
                <div class="cell">日期</div>
            </th>
            <th>
                <div class="cell">姓名</div>
            </th>
            <th>
                <div class="cell">地址</div>
            </th>
        </tr>
        </thead>
        <tbody class="">
        <tr class="">
            <td>
                <div class="cell">
                    2016-05-01
                </div>
            </td>
            <td>
                <div class="cell">
                    王小虎
                </div>
            </td>
            <td>
                <div class="cell">
                    上海市普陀区金沙江路 1516 弄
                </div>
            </td>
        </tr>
        <tr class="">
            <td>
                <div class="cell">
                    2016-05-02
                </div>
            </td>
            <td>
                <div class="cell">
                    王小虎2
                </div>
            </td>
            <td>
                <div class="cell">
                    上海市普陀区金沙江路 1516 弄
                </div>
            </td>
        </tr>
        <tr class="">
            <td>
                <div class="cell">
                    2016-05-04
                </div>
            </td>
            <td>
                <div class="cell">
                    王小虎4
                </div>
            </td>
            <td>
                <div class="cell">
                    上海市普陀区金沙江路 1516 弄
                </div>
            </td>
        </tr>
        <tr class="">
            <td>
                <div class="cell">
                    2016-05-03
                </div>
            </td>
            <td>
                <div class="cell">
                    王小虎3
                </div>
            </td>
            <td>
                <div class="cell">
                    上海市普陀区金沙江路 1516 弄
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td>
                <div class="cell">总数</div>
            </td>
            <td>
                <div class="cell">1000</div>
            </td>
            <td>
                <div class="cell">1000.00元</div>
            </td>
        </tr>
        </tfoot>
    </table>

    <h4 class="web-title">固定底部</h4>
    <div class="yu-fixed-table" data-v-6c46e1ce="">
        <div>
            <table class="yu-table celled"></table>
            <div class="fixed-box" style="height: 300px;">
                <table class="yu-table celled" style="width: 100%;">
                    <tbody class="">
                    <tr class="">
                        <td>
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <div class="cell">
                                2016-05-01
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <div class="cell">
                                2016-05-02
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <div class="cell">
                                2016-05-04
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <div class="cell">
                                2016-05-03
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                王小虎
                            </div>
                        </td>
                        <td>
                            <div class="cell">
                                上海市普陀区金沙江路 1516 弄
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <table class="yu-table celled" style="width: 100%;">
                <tfoot>
                <tr>
                    <td>
                        <div class="cell">总数</div>
                    </td>
                    <td>
                        <div class="cell">1000</div>
                    </td>
                    <td>
                        <div class="cell">1000.00元</div>
                    </td>
                    <td width="20px"></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
</script>
</html>
